body, div {
  padding:0;
  margin:0;
  font-family: 'Indie Flower', cursive;
  background-color: lightblue;
  border: 1px solid red;
}

#title {
  margin: auto;
  font-size: 80px;
  text-align: center;
}

#settings {
  margin: auto;
  width: 600px;
  height: 100px;
  background-color: yellow;
}

#pomodoro {
  margin: auto;
  width: 600px;
  height: 400px;
  background-image: url('https://openclipart.org/image/300px/svg_to_png/239275/1454168849.png&disposition=attachment');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
}

#tomato {
  display: block;
  margin: auto;
  margin-top: 185px;
  font-size: 40px;
  text-align: center;
}
