body, div {
  padding:0;
  margin:0;
  font-family: 'Indie Flower', cursive;
  background-color: lightblue;
  /*border: 1px solid red;*/
}

#title {
  margin: auto;
  margin-top: 15px;
  font-size: 80px;
  text-align: center;
}

#settings-title {
  margin: 0 auto;
  width: 600px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

#settings-title h4 {
  width: 170px;
  margin: 5px 50px;
  text-align: center;
}

#settings {
  margin: 0 auto;
  width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

#session {
  width: 170px;
  margin: 5px 50px;
  display: flex;
  justify-content: space-between;
}

#break {
  width: 170px;
  margin: 5px 50px;
  display: flex;
  justify-content: space-between;
}

#session button, #break button {
  background-color: lightblue;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 32px;
  border-radius: 5px;
  box-shadow: 5px;
}

#session div, #break div {
  margin: 10px;
  font-size: 32px;
}

#pomodoro {
  margin: auto;
  width: 400px;
  height: 350px;
  background-image: url('https://openclipart.org/image/300px/svg_to_png/239275/1454168849.png&disposition=attachment');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
  display: flex;
}

#pomodoro:hover {
  background-size: 77%;
}

#tomato {
  display: block;
  margin: auto;
  margin-top: 155px;
  font-size: 50px;
  text-align: center;
}

#guide {
  margin: auto;
  font-size: 20px;
  text-align: center;
}

#reset {
  font-size: 20px;
  border-radius: 5px;
  background-color: lightblue;
}

button:focus {outline:0;}
